

<div class="text-center">
    <h1 class="display-4">Main menu</h1>
    <a class="btn btn-primary" asp-controller="LikeActivity" asp-action="Index">Like activity</a>
    <a class="btn btn-primary" asp-controller="ScheduleDelayedMessages" asp-action="Index">Schedule delayed messages</a>
</div>
